@import '~bootstrap/scss/bootstrap';


@import 'fonts';
@import 'navbar';
@import 'articlecard';
@import 'sidebar';


.twitter-tweet {
    margin: 10px auto !important;
}

img {
    max-width: 100%;
    margin: 10px auto !important;
    height: auto;
}

figure {
    max-width: 100%;
    margin: 30px auto !important;
}

iframe {
    max-width: 100%;
    margin: 10px auto !important;
}

video {
    max-width: 100%;
    margin: 10px auto !important;
    height: auto;
}

.wp-block-spacer {
    height: 0 !important;
}